[submodule "FV3"]
	path = FV3
	url = https://github.com/LarissaReames-NOAA/fv3atm
	branch = feature/idealized_periodic
[submodule "NEMS"]
	path = NEMS
	url = https://github.com/LarissaReames-NOAA/NEMS
	branch = feature/idealized_periodic
[submodule "FMS"]
	path = FMS
	url = https://github.com/NOAA-GFDL/FMS
	branch = master
[submodule "stochastic_physics"]
	path = stochastic_physics
	url = https://github.com/noaa-psd/stochastic_physics
	branch = release/public-v2
